<div class="card">
  <div class="card-header bg-success text-white">
    Editar producto
  </div>
  <div class="card-body">
    @if(product) {
    <form #productForm="ngForm"
          novalidate
          (ngSubmit)="saveChanges()">
      <div class="mb-3 row">
        <label for="description"
               class="col-md-2 col-form-label text-md-end">Descripción</label>
        <div class="col-md-10">
          <input type="text"
                 class="form-control"
                 id="description"
                 name="description"
                 [(ngModel)]="product.description"
                 minlength="5"
                 maxlength="60"
                 required
                 #descModel="ngModel"
                 [ngClass]="validClasses(descModel, 'is-valid', 'is-invalid')">
          <div class="invalid-feedback">
            La descripción debe tener entre 5 y 60 caracteres
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price"
               class="col-md-2 col-form-label text-md-end">Precio</label>
        <div class="col-md-10">
          <input type="number"
                 class="form-control"
                 id="price"
                 name="price"
                 [(ngModel)]="product.price"
                 min="0"
                 step="0.01"
                 required
                 #priceModel="ngModel"
                 [ngClass]="validClasses(priceModel, 'is-valid', 'is-invalid')">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="available"
               class="col-md-2 col-form-label text-md-end">Disponible</label>
        <div class="col-md-10">
          <input type="datetime-local"
                 class="form-control"
                 name="available"
                 id="available"
                 [(ngModel)]="product.available"
                 required
                 minDate="2023-01-01T00:00"
                 #availModel="ngModel"
                 [ngClass]="validClasses(availModel, 'is-valid', 'is-invalid')">
          <div class="invalid-feedback">
            La fecha debe ser posterior a 01/01/2023
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="image"
               class="col-md-2 col-form-label text-md-end">Imagen</label>
        <div class="col-md-10">
          <input type="file"
                 class="form-control"
                 name="image"
                 id="image"
                 #fileImage
                 (change)="changeImage(fileImage)">
        </div>
      </div>
      @if(product.imageUrl) {
      <img [src]="product.imageUrl"
           alt=""
           class="product-image">
      }
      <div class="mb-3 row">
        <div class="offset-md-2 col-md-10">
          <button type="submit"
                  class="btn btn-success"
                  [disabled]="productForm.invalid">
            Guardar cambios
          </button>
        </div>
      </div>
    </form>
    }
  </div>
</div>