<div class="card">
  <div class="card-header bg-primary text-white">
    AngularProducts
  </div>
  <div class="card-body">
    <p class="card-text">Aplicación <em>Angular</em> con los ejemplos de los apuntes del módulo.</p>
    <p class="card-text">DAW - Desarrollo Web en Entorno Cliente</p>
    <p class="card-text">Curso 2023-2024</p>
    <p class="card-text">IES Serpis</p>
    <div class="text-end">
      <a href="https://github.com/jsanvil/angular-products"
         target="_blank"
         class="btn btn-primary"><i class="bi bi-github"></i> Código fuente</a>
      <a href="https://jsanvil.github.io/dwec2023/ud6/ud6-1-angular-intro/"
         target="_blank"
         class="btn btn-primary ms-2"><i class="bi bi-book"></i> Apuntes</a>
    </div>
  </div>
</div>